body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh4EHOxfxli9YIdXXQgcXyCD-MBsO2PtHNBg&s');
align-items: center;
    border: 0cqmax;
    border-radius: 0cqmax;
    border-color: chartreuse;
}